mixin comment(someData) <.>
  .comment
    .date= someData.date
    .author= someData.author
    .text= someData.text

doctype html <.>
html
  body <.>
    h1.class HELLO <.>
    p. <.>
      Some Multi-line
      Text
    a(href="about.html") ABOUT <.>
    - const myList = {1: "Item1", 2: "Item2", 3: "Item3"}; <.>
    ul
      each item, i in myList <.>
        li= item + " - " + i <.>
      else
        li There are no items
    - var n = 0;
    ul
      while n < 4
        li= n++
    if myList <.>
      p#someid <.>
        | Say Hi <.>
        strong #{ myList[1]} <.>
    else
      p don't say hi
    - const orderStatus = 'Pending'
    case orderStatus <.>
      when 'Pending'
        p Your order is waiting
      when 'Ready'
        p You order is ready
      default
        p Nothing happening 
    include nav <.>
    - const commentData = {date: '04-02-2020', author: 'Martin', text: 'Awesome'}
    +comment(commentData) <.>
